@media screen and (max-width: 990px) {
  /*.w-container {
      max-width: 728px;
    }*/
  .containerAllElements {
    margin: 0px;
  }
  .containerArtists {
    margin: 20px 0 20px 0 !important;
  }
  .image-course-container img {
    width: 80vw;
  }
  .description-course p {
    width: 80vw;
  }
  .btn-aplly {
    width: 50vw;
    height: 50vw;
  }
  .btn-aplly p {
    font-size: 1.8vw;
  }
  .apllyIcon {
    width: 25px;
    height: 25px;
  }
  .icon-navbar-sub {
    width: 15px;
    height: 15px;
  }
  .w-hidden-main {
    display: inherit !important;
  }
  .w-hidden-medium {
    display: none !important;
  }
  .w-col-medium-1 {
    width: 8.33333333%;
  }
  .w-col-medium-2 {
    width: 16.66666667%;
  }
  .w-col-medium-3 {
    width: 25%;
  }
  .w-col-medium-4 {
    width: 33.33333333%;
  }
  .w-col-medium-5 {
    width: 41.66666667%;
  }
  .w-col-medium-6 {
    width: 50%;
  }
  .w-col-medium-7 {
    width: 58.33333333%;
  }
  .w-col-medium-8 {
    width: 66.66666667%;
  }
  .w-col-medium-9 {
    width: 75%;
  }
  .w-col-medium-10 {
    width: 83.33333333%;
  }
  .w-col-medium-11 {
    width: 91.66666667%;
  }
  .w-col-medium-12 {
    width: 100%;
  }
  .w-col-stack {
    width: 100%;
    left: auto;
    right: auto;
  }
}
@media screen and (max-width: 767px) {
  .fha-prop-container p{
    text-align: justify;
  }
  .container-contdown {
    transform: scale(0.7);
  }

  .containerArtists {
    background-color: white;
    margin: 5px 5px 50px 5px !important;
    width: 100%;
    height: 600px;
  }

  .containerArtists {
    flex-direction: column;
  }

  .image-course-container img {
    width: 95vw;
  }
  .description-course p {
    width: 95vw;
  }
  .btn-aplly {
    width: 90vw;
    height: 90vw;
  }
  .btn-aplly p {
    font-size: 2.8vw;
  }
  .apllyIcon {
    width: 25px;
    height: 25px;
  }
  .slide-2,
  .slide-3 {
    display: none !important;
  }
  .w-hidden-main {
    display: inherit !important;
  }
  .w-hidden-medium {
    display: inherit !important;
  }
  .w-hidden-small {
    display: none !important;
  }
  .w-row,
  .w-container .w-row {
    margin-left: 0;
    margin-right: 0;
  }
  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }
  .w-col-small-1 {
    width: 8.33333333%;
  }
  .w-col-small-2 {
    width: 16.66666667%;
  }
  .w-col-small-3 {
    width: 25%;
  }
  .w-col-small-4 {
    width: 33.33333333%;
  }
  .w-col-small-5 {
    width: 41.66666667%;
  }
  .w-col-small-6 {
    width: 50%;
  }
  .w-col-small-7 {
    width: 58.33333333%;
  }
  .w-col-small-8 {
    width: 66.66666667%;
  }
  .w-col-small-9 {
    width: 75%;
  }
  .w-col-small-10 {
    width: 83.33333333%;
  }
  .w-col-small-11 {
    width: 91.66666667%;
  }
  .w-col-small-12 {
    width: 100%;
  }
  .w-slide img {
    width: 100%;
    opacity: 1;
    animation: opacity 2s;
  }

  .equipe-brm p {
    margin: 0;
  }

  .popup-models-category {
    height: max-content;
  }
  .container-imgs {
    padding: 10px;
  }
  .imgs-cursos {
    flex-direction: column;
  }
  .imgs-cursos img {
    width: 100vw;
    height: auto;
    margin: 0;
  }

  .fha-prop-container {
   
    padding: 0;
  }
  #fha-description-course{
    width: 98%;
  }
}
@media screen and (max-width: 479px) {
  .w-container {
    max-width: none;
  }
  .w-hidden-main {
    display: inherit !important;
  }
  .w-hidden-medium {
    display: inherit !important;
  }
  .w-hidden-small {
    display: inherit !important;
  }
  .w-hidden-tiny {
    display: none !important;
  }
  .w-col {
    width: 100%;
  }
  .w-col-tiny-1 {
    width: 8.33333333%;
  }
  .w-col-tiny-2 {
    width: 16.66666667%;
  }
  .w-col-tiny-3 {
    width: 25%;
  }
  .w-col-tiny-4 {
    width: 33.33333333%;
  }
  .w-col-tiny-5 {
    width: 41.66666667%;
  }
  .w-col-tiny-6 {
    width: 50%;
  }
  .w-col-tiny-7 {
    width: 58.33333333%;
  }
  .w-col-tiny-8 {
    width: 66.66666667%;
  }
  .w-col-tiny-9 {
    width: 75%;
  }
  .w-col-tiny-10 {
    width: 83.33333333%;
  }
  .w-col-tiny-11 {
    width: 91.66666667%;
  }
  .w-col-tiny-12 {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .w-nav-brand {
    padding-left: 10px;
  }
}
@media (min-width: 768px) {
  .w-lightbox-content {
    height: 96vh;
    margin-top: 2vh;
  }
}
@media screen and (max-width: 991px) {
  .w-nav[data-collapse="medium"] .w-nav-menu {
    display: none;
  }
  .w-nav[data-collapse="medium"] .w-nav-button {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .list-pitagoras-states li p {
    font-size: 4vw;
  }
  #end-id {
    font-size: 4vw;
  }

  .images-main {
    height: 400px;
  }
  .slider-propaganda {
    height: 400px;
  }

  .w-nav[data-collapse="small"] .w-nav-menu {
    display: none;
  }
  .w-nav[data-collapse="small"] .w-nav-button {
    display: block;
  }
  .w-nav-brand {
    padding-left: 10px;
  }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
  .images-main {
    height: 500px;
  }
  .slider-propaganda {
    height: 500px;
  }
}
@media screen and (max-width: 479px) {
  .description {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .div-contact-social {
    justify-content: center;
  }
  .div-contact-social img {
    width: 40px;
  }
  .div-contact-social {
    padding: 0;
  }
  .footerArtists img {
    height: 100%;
  }
  .divfooter-container {
    padding-top: 50px;
  }
  #star-brazilModel {
    height: 140px;
    margin: 0;
  }
  .w-nav[data-collapse="tiny"] .w-nav-menu {
    display: none;
  }
  .w-nav[data-collapse="tiny"] .w-nav-button {
    display: block;
  }
}
@media screen and (max-width: 479px) {
  .w-tab-link {
    display: block;
  }
  .texts-parceiros-main p{
    color: #000;
    font-size: 12px;
    padding: 0 20px 0 20px;
  }
  
  .texts-parceiros-main #title-Pmain{
    font-size: 14px;
    font-weight: bold;
  }
}
@media screen and (max-width: 991px) {
  .section {
    all: unset;
    overflow: hidden;
  }

  .container-3 {
    /*-webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: end;
          -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
          justify-content: flex-end;
          -webkit-box-align: end;
          -webkit-align-items: flex-end;
          -ms-flex-align: end;
          align-items: flex-end;
          text-align: left;*/
  }
  .logo-image {
    height: fit-content;
  }
  .nav-bar-root {
    display: none;
  }
  .navbar-2 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
  }
  .nav-menu {
    background-color: #727272;
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    text-align: left;
  }
  .nav-link-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-link-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-link-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-link-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-link-6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .icon-2 {
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    float: none;
    color: white;
    font-size: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .icon-2:active {
    color: white;
  }
  .w-menu-open-nav::before {
    color: red;
  }
  .menu-button {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  /*.footer {
    padding-right: 20px;
    padding-left: 20px;
  }*/
  .shows-any {
    flex-direction: column;
  }
  .container-3 {
    display: flex !important;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    padding: 20px;
  }
  .container-music {
    width: 98%;
  }
  .progress-bar-music,
  .progress-track {
    width: 90%;
  }

  .container-sub video {
    width: 400px;
  }

  #text-aboutus {
    font-size: 15px;
    padding-right: 10px;
  }

  .footerArtists {
    height: 500px;
  }
  #imgContact {
    width: 100vw;
    height: auto;
  }

  form,
  .w-form,
  .div-block-12 {
    width: 100%;
    padding: 0px 5px 0 5px !important;
  }

  .consultores-sub {
    flex-direction: column;
  }

  /*
  .aboutus{
    display: block;
    margin: 5px 10px;
    
  }*/

  #text-aboutus {
    word-spacing: -1;
  }

  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hero-image-mask {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .sticky-nav {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .nav-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    justify-items: stretch;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    grid-auto-columns: -webkit-max-content;
    grid-auto-columns: max-content;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content
      1fr;
    -ms-grid-columns: 1fr max-content max-content max-content 1fr;
    grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content 1fr;
    grid-template-columns: 1fr max-content max-content max-content 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    text-align: center;
  }
  .nav-link {
    position: relative;
    display: block;
    overflow: visible;
  }
  .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .navbar {
    display: inline-block;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .container-2 {
    display: none;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  /*.footer {
    top: 0px;
    margin-top: 0px;
    padding: 10px 20px;
  }
  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }*/
  .iconplay1,
  .iconplay2 {
    position: absolute;
    width: 100px;
    height: auto;
  }
  .shows-any {
    display: block;
  }
  .show1,
  .show2 {
    height: auto;
    width: auto;
  }
  label {
    font-size: 20px;
  }

  /*
        .sub-category-models{
          display: none;
          
        }*/
  .sub-imgs {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .sub-imgs img {
    height: 240px;
    width: 240px;
    padding: 15px;
    padding-bottom: 8px;
  }
  .sub-texts {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: black;
  }
  .sub-texts p {
    font-size: 18px;
    font-weight: normal;
  }
  .w-slider {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 0;
    text-align: center;
    clear: both;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .w-slide {
    padding: 5px;
  }
  .logo-image {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 479px) {
  .flex-container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    white-space: nowrap;
  }
  .hero-image-mask {
    margin-top: 0px;
  }
  .sticky-nav {
    display: none;
    padding: 0px;
  }
  .nav-grid {
    display: none;
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }
  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }
  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }
  .heading {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: auto;
    min-width: 100px;
    margin-top: -44px;
    margin-bottom: 0px;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-size: 50px;
    white-space: nowrap;
  }
  .icon {
    width: auto;
  }
  .container {
    position: fixed;
    margin-left: 248px;
    background-color: transparent;
  }
  .navbar {
    display: block;
    background-color: #5e5e5e;
  }
  .brand {
    background-color: transparent;
  }
  /*
  .footer {
    margin-top: 0px;
    padding: 10px 20px 0px;
    background-color: #e2e2e2;
    text-align: left;
  }
  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-logo-link {
    height: 60px;
  }
  .footer-heading {
    margin-top: 20px;
  }*/
  .paragraph {
    line-height: 15px;
    text-align: center;
  }
  .iconplay1,
  .iconplay2 {
    position: absolute;
    width: 100px;
    height: auto;
  }

  .images-main iframe{
    width: 100%;
    height: 350px;
  }
}

@media screen and (max-width: 980px) {
  .hero {
    overflow: hidden !important;
  }
  .photos-container img {
    margin-bottom: 20px;
  }
  /*.footer{
    all: unset;
    display: block !important;
    padding: 0px !important;
    position: absolute !important;
    bottom: 0px !important;
    background-color: white;
    width: 100% !important;
    text-align: center !important;
    color: black !important;
  }
  .footer a{
    color: black;
    text-decoration: none;
  }*/
}
@media screen and (max-width: 980px) {
  /*.footer{
    bottom: unset !important;
    margin: 0 !important;
  }*/
  .about-2 {
    flex-wrap: wrap;
  }
  .sub-about-2c {
    flex-direction: column;
    width: 100%;
    margin: 0 0 20px 0;
  }
  form,
  .w-form,
  .div-block-12 {
    padding: 0px 10px 0 10px;
  }
}

@media screen and (max-width: 1824px) {
  #text-aboutus {
    padding-right: 20px;
  }
}

@media screen and (max-width: 1184px) {
  .container-sub {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1830px) {
  .container-sub {
    margin-right: 40px !important;
  }
}

@media screen and (max-width: 823px) and (orientation: landscape) {
  .container-music {
    margin-top: 300px;
  }

  .container-music {
    width: 400px;
  }
  .progress-bar-music,
  .progress-track {
    width: 90%;
  }
}
