<div data-collapse="medium" data-animation="default" data-duration="400" class="navbar-2 w-nav">
    <div class="container-3 w-container">
        <a href="#" class="w-nav-brand"></a>
        <nav class="nav-bar-root">
            <div class="nav-content">
                <div>
                    <a href="./index.html">HOME</a>
                    <div class="subnav-menu"></div>
                </div>
                <div>
                    <a href="sobrenos.html">SOBRE NÓS</a>
                    <div class="subnav-menu"></div>
                </div>
                <div>
                    <a href="javascript:void(0)" class="model-button">MODELOS <span class="icon-navbar-sub"></span>
                    </a>
                    <div class="subnav-menu-model">
                        <ul class="main-categorys subnav-events display-none-content">
                            <li id="main-title-li">CATEGORIAS</li>
                            <li data-link-on onclick="showSubs('Baby')">
                                <a href="javascript:void(0)">BABY</a>
                            </li>
                            <li data-link-on onclick="showSubs('Kids')">
                                <a data-link-on href="javascript:void(0)">KID</a>
                            </li>
                            <li data-link-on onclick="showSubs('PreTeens')">
                                <a href="javascript:void(0)">PRE-TEEN</a>
                            </li>
                            <li data-link-on onclick="showSubs('Commercials')">
                                <a href="javascript:void(0)">COMMERCIAL</a>
                            </li>
                            <li data-link-on onclick="showSubs('PlusSize')">
                                <a href="javascript:void(0)">PLUS SIZE</a>
                            </li>
                            <li data-link-on onclick="showSubs('MoreAge')">
                                <a href="javascript:void(0)">MORE AGE</a>
                            </li>
                            <li data-link-on onclick="showSubs('Fashion')">
                                <a href="javascript:void(0)">FASHION</a>
                            </li>
                            <li data-link-on onclick="showSubs('Fitness')">
                                <a href="javascript:void(0)">FITNESS</a>
                            </li>
                            <li data-link-on onclick="showSubs('Urban')">
                                <a href="javascript:void(0)">URBAN</a>
                            </li>
                            <li data-link-on onclick="showSubs('Androgens')">
                                <a href="javascript:void(0)">ANDROGYNE</a>
                            </li>
                        </ul>
                        <div class="sub-sub-model"></div>
                    </div>
                </div>

                <div>
                    <a href="javascript:void(0)" class="course-btn">CURSOS <span class="icon-navbar-sub"></span></a>
                    <div class="subnav-menu"></div>
                    <ul class="subs-menus-desktop subnav-events subnav-course display-none-content">
                        <li onclick="PopupMsg('curso-passarela', 'curso-passarela',1,this)"><a
                                href="javascript:void(0)">PASSARELA</a>
                        </li>
                        <li onclick="PopupMsg('curso-modeloFotografica', 'curso-modeloFotografica',1,this)"><a
                                href="javascript:void(0)">FOTOGRAFIA DE MODA</a></li>
                        <li onclick="PopupMsg('curso-teatro', 'curso-teatro',1,this)"><a
                                href="javascript:void(0)">TEATRO</a></li>
                        <li onclick="PopupMsg('curso-maquiagem', 'curso-maquiagem',1,this)"><a
                                href="javascript:void(0)">MAKE-UP
                            </a></li>
                        <li onclick="PopupMsg('workshops', 'workshops',1,this)"><a
                                href="javascript:void(0)">WORKSHOPS</a></li>
                    </ul>
                </div>
                <div>
                    <a href="javascript:void(0)" onclick="PopupMsg('', '')">FICA LIGADO </a>
                    <div class="subnav-menu"></div>
                </div>
                <div>
                    <a href="javascript:void(0)" class="events-btn">EVENTOS <span class="icon-navbar-sub"></span></a>
                    <ul class="subs-menus-desktop subnav-events subnav-evento display-none-content">
                        <li onclick="PopupMsg('shows', 'shows',1,this)"><a href="javascript:void(0)">SHOWS</a></li>
                        <li onclick="PopupMsg('desfiles', 'desfiles',1,this)"><a href="javascript:void(0)">DESFILES</a>
                        </li>
                        <li onclick="PopupMsg('concursos', 'concursos',1,this)"><a
                                href="javascript:void(0)">CONCURSOS</a></li>
                        <li onclick="PopupMsg('audicao', 'audicao',1,this)"><a href="javascript:void(0)">AUDIÇÃO</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <a href="javascript:void(0)" class="artist-btn">ARTISTAS <span class="icon-navbar-sub"></span></a>
                    <div class="subs-menus-desktop subnav-events subnav-artista display-none-content">
                        <ul class="MainMenu-1">
                            <li onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)"><a
                                    href="javascript:void(0)">ATORES</a></li>
                        </ul>
                        <ul class="MainMenu-1">
                            <li onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)"><a
                                    href="javascript:void(0)">BANDAS</a></li>
                        </ul>
                        <ul class="MainMenu-1">
                            <li class="contores-btn">
                                <a href="javascript:void(0)">CANTORES</a>
                            </li>
                        </ul>
                        <ul class="sub-cantores-1 display-none-content">
                            <li id="back-btn" class="voltar-artistas">
                                <span id="back-menu"></span><a href="javascript:void(0)" class="">VOLTAR</a>
                            </li>
                            <li data-none-link><a>CANTORES</a></li>
                            <li><a href="sertanejo.html">SERTANEJO</a></li>
                            <li><a href="#" onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)">FUNK</a></li>
                            <li><a href="#" onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)">GOSPEL</a></li>
                            <li><a href="#" onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)">INTERNACIONAL</a>
                            </li>
                            <li><a href="#" onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)">MPB</a></li>
                        </ul>
                        <ul class="MainMenu-1">
                            <li onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)"><a
                                    href="javascript:void(0)">COVERS</a></li>
                        </ul>
                        <ul class="MainMenu-1">
                            <li onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)"><a
                                    href="javascript:void(0)">DANÇARINOS</a>
                            </li>
                        </ul>
                        <ul class="MainMenu-1">
                            <li onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)"><a
                                    href="javascript:void(0)">INFLUENCERS</a>
                            </li>
                        </ul>
                        <ul class="MainMenu-1">
                            <li onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)"><a
                                    href="javascript:void(0)">DJS</a></li>
                        </ul>
                        <ul class="MainMenu-1">
                            <li onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)"><a
                                    href="javascript:void(0)">LOCUTORES</a>
                            </li>
                        </ul>
                        <ul class="MainMenu-1">
                            <li onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)"><a
                                    href="javascript:void(0)">MUSICOS</a></li>
                        </ul>
                        <ul class="MainMenu-1">
                            <li onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)"><a
                                    href="javascript:void(0)">SOSIAS</a></li>
                        </ul>
                        <ul class="MainMenu-1">
                            <li onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)"><a
                                    href="javascript:void(0)">STAND UP</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <a href="#" onclick="PopupMsg('parceiros', 'parceiros',1,1)">PARCEIROS</a>
                <a href="./facaparte.html">FAÇA PARTE</a>
                <a href="#">CONTATOS</a>
            </div>
            <div class="display-none-content subnav-events sub-menu-1-ref">
                <a href="javascript:void(0)" onclick="PopupMsg('baby')">BABY</a>
                <a href="javascript:void(0)" onclick="PopupMsg('kids')">KID</a>
                <a href="javascript:void(0)" onclick="PopupMsg('pre-teen')">PRE-TEEN</a>
                <a href="javascript:void(0)" onclick="PopupMsg('moreage')">MORE AGE</a>
                <a href="javascript:void(0)" onclick="PopupMsg('plussize')">PLUS SIZE</a>
                <a href="javascript:void(0)" onclick="PopupMsg('comercial')">COMERCIAL</a>
                <a href="javascript:void(0)" onclick="PopupMsg('fashion')">FASHION</a>
                <a href="javascript:void(0)" onclick="PopupMsg('fitness')">FITNESS</a>
                <a href="javascript:void(0)" onclick="PopupMsg('androgeno')">ANDROGYNE</a>
                <a href="javascript:void(0)" onclick="PopupMsg('urbano')">URBAN</a>
            </div>
        </nav>
        <div class="menu-button w-nav-button">
            <div class="icon-2 w-icon-nav-menu"></div>
        </div>
    </div>
    <div class="w-nav-overlay" data-wf-ignore></div>
</div>