<div class="navbar-mobile-root display-none-content">
    <nav class="container-navbar-m">
        <a href="index" class="nav-link-2 w-nav-link w--nav-link-open menu-tops">HOME</a>
        <a class="nav-link-3 w-nav-link w--nav-link-open menu-tops" href="./sobrenos">SOBRE NÓS</a>
        <a href="#" class="nav-link-4 w-nav-link w--nav-link-open menu-tops"
            onClick="showOrHideContent('sub-category-model-mobile')">MODELOS<span
                class="icon-navbar-sub mobile-icon"></span></a>
        <div class="sub-category-model-mobile w-hidden style-sub-category">
            <a class="nav-link-5 w-nav-link w--nav-link-open" onClick="ShowSCategorysMainMobile('sub-baby')">BABY</a>
            <div class="style-sub-category sub-baby subs-category-ref">
                <div class="sub-baby">
                    <ul class="mobile-model-cat">
                        <li data-bg-black>
                            <p>CATEGORIAS</p>
                        </li>
                        <li onClick="ShowSCategorysMainMobile('sub-baby')"><span id="back-menu"></span>
                            <p>VOLTAR</p>
                        </li>
                        <li data-bg-black>
                            <p>BABY</p>
                        </li>
                    </ul>
                    <div class="sub-imgs" onClick="PopupMsg('baby')">
                        <img src="./media/home/menu-category/BabyCategory.jpg" alt="category baby img">
                    </div>
                    <div class="sub-texts">
                        <p>FEMININO</p>
                        <p>MASCULINO</p>
                        <p>TODOS</p>
                    </div>
                </div>
            </div>
            <a class="nav-link-5 w-nav-link w--nav-link-open" onClick="ShowSCategorysMainMobile('sub-kids')">KID'S</a>
            <div class="style-sub-category sub-kids subs-category-ref">
                <div class="sub-kids">
                    <ul class="mobile-model-cat">
                        <li data-bg-black>
                            <p>CATEGORIAS</p>
                        </li>
                        <li onClick="ShowSCategorysMainMobile('sub-kids')"><span id="back-menu"></span>
                            <p>VOLTAR</p>
                        </li>
                        <li data-bg-black>
                            <p>KID</p>
                        </li>
                    </ul>
                    <div class="sub-imgs" onClick="PopupMsg('kids')">
                        <img src="./media/home/menu-category/KidsCategory.jpg" alt="kids category img">
                    </div>
                    <div class="sub-texts">
                        <p>FEMININO</p>
                        <p>MASCULINO</p>
                        <p>TODOS</p>
                    </div>
                </div>
            </div>
            <a class="nav-link-5 w-nav-link w--nav-link-open"
                onClick="ShowSCategorysMainMobile('sub-teens')">PRE-TEEN</a>
            <div class="style-sub-category sub-teens subs-category-ref">
                <div class="sub-teens">
                    <ul class="mobile-model-cat">
                        <li data-bg-black>
                            <p>CATEGORIAS</p>
                        </li>
                        <li onClick="ShowSCategorysMainMobile('sub-teens')"><span id="back-menu"></span>
                            <p>VOLTAR</p>
                        </li>
                        <li data-bg-black>
                            <p>PRE-TEEN</p>
                        </li>
                    </ul>
                    <div class="sub-imgs" onClick="PopupMsg('pre-teen')">
                        <img src="./media/home/menu-category/PreTeenCategory.jpg" alt="pree-tenns category img">
                    </div>
                    <div class="sub-texts">
                        <p>FEMININO</p>
                        <p>MASCULINO</p>
                        <p>TODOS</p>
                    </div>
                </div>
            </div>
            <a class="nav-link-5 w-nav-link w--nav-link-open" onClick="ShowSCategorysMainMobile('sub-moreage')">MORE
                AGE</a>
            <div class="style-sub-category sub-moreage subs-category-ref">
                <div class="sub-moreage">
                    <ul class="mobile-model-cat">
                        <li data-bg-black>
                            <p>CATEGORIAS</p>
                        </li>
                        <li onClick="ShowSCategorysMainMobile('sub-moreage')"><span id="back-menu"></span>
                            <p>VOLTAR</p>
                        </li>
                        <li data-bg-black>
                            <p>MORE AGE</p>
                        </li>
                    </ul>
                    <div class="sub-imgs" onClick="PopupMsg('moreage')">
                        <img src="./media/home/menu-category/MoreAgeCategory.jpg" alt="moreage category img">
                    </div>
                    <div class="sub-texts">
                        <p>FEMININO</p>
                        <p>MASCULINO</p>
                        <p>TODOS</p>
                    </div>
                </div>
            </div>
            <a class="nav-link-5 w-nav-link w--nav-link-open" onClick="ShowSCategorysMainMobile('sub-plussize')">PLUS
                SIZE</a>
            <div class="style-sub-category sub-plussize subs-category-ref">
                <div class="sub-plussize">
                    <ul class="mobile-model-cat">
                        <li data-bg-black>
                            <p>CATEGORIAS</p>
                        </li>
                        <li onClick="ShowSCategorysMainMobile('sub-plussize')"><span id="back-menu"></span>
                            <p>VOLTAR</p>
                        </li>
                        <li data-bg-black>
                            <p>PLUS SIZE</p>
                        </li>
                    </ul>
                    <div class="sub-imgs" onClick="PopupMsg('plussize')">
                        <img src="./media/home/menu-category/PlusSizeCategory.jpg" alt="plus-size category img">
                    </div>
                    <div class="sub-texts">
                        <p>FEMININO</p>
                        <p>MASCULINO</p>
                        <p>TODOS</p>
                    </div>
                </div>
            </div>
            <a class="nav-link-5 w-nav-link w--nav-link-open"
                onClick="ShowSCategorysMainMobile('sub-comercial')">COMMERCIAL</a>
            <div class="style-sub-category sub-comercial subs-category-ref">
                <div class="sub-comercial">
                    <ul class="mobile-model-cat">
                        <li data-bg-black>
                            <p>CATEGORIAS</p>
                        </li>
                        <li onClick="ShowSCategorysMainMobile('sub-comercial')"><span id="back-menu"></span>
                            <p>VOLTAR</p>
                        </li>
                        <li data-bg-black>
                            <p>COMMERCIAL</p>
                        </li>
                    </ul>
                    <div class="sub-imgs" onClick="PopupMsg('comercial')">
                        <img src="./media/home/menu-category/CommercialsCategory.jpg" alt="comercial category img">
                    </div>
                    <div class="sub-texts">
                        <p>FEMININO</p>
                        <p>MASCULINO</p>
                        <p>TODOS</p>
                    </div>
                </div>
            </div>
            <a class="nav-link-5 w-nav-link w--nav-link-open"
                onClick="ShowSCategorysMainMobile('sub-fashion')">FASHION</a>
            <div class="style-sub-category sub-fashion subs-category-ref">
                <div class="sub-fashion">
                    <ul class="mobile-model-cat">
                        <li data-bg-black>
                            <p>CATEGORIAS</p>
                        </li>
                        <li onClick="ShowSCategorysMainMobile('sub-fashion')"><span id="back-menu"></span>
                            <p>VOLTAR</p>
                        </li>
                        <li data-bg-black>
                            <p>FASHION</p>
                        </li>
                    </ul>
                    <div class="sub-imgs" onClick="PopupMsg('fashion')">
                        <img src="./media/home/menu-category/FashionCategory.jpg" alt="fashion category img">
                    </div>
                    <div class="sub-texts">
                        <p>FEMININO</p>
                        <p>MASCULINO</p>
                        <p>TODOS</p>
                    </div>
                </div>
            </div>
            <a class="nav-link-5 w-nav-link w--nav-link-open"
                onClick="ShowSCategorysMainMobile('sub-fitness')">FITNESS</a>
            <div class="style-sub-category sub-fitness subs-category-ref">
                <div class="sub-fitness">
                    <ul class="mobile-model-cat">
                        <li data-bg-black>
                            <p>CATEGORIAS</p>
                        </li>
                        <li onClick="ShowSCategorysMainMobile('sub-fitness')"><span id="back-menu"></span>
                            <p>VOLTAR</p>
                        </li>
                        <li data-bg-black>
                            <p>FITNESS</p>
                        </li>
                    </ul>
                    <div class="sub-imgs" onClick="PopupMsg('fitness')">
                        <img src="./media/home/menu-category/FitnessCategory.jpg" alt="fitness category img">
                    </div>
                    <div class="sub-texts">
                        <p>FEMININO</p>
                        <p>MASCULINO</p>
                        <p>TODOS</p>
                    </div>
                </div>
            </div>
            <a class="nav-link-5 w-nav-link w--nav-link-open"
                onClick="ShowSCategorysMainMobile('sub-androgynous')">ANDROGYNE</a>
            <div class="style-sub-category sub-androgynous subs-category-ref">
                <div class="sub-androgynous">
                    <ul class="mobile-model-cat">
                        <li data-bg-black>
                            <p>CATEGORIAS</p>
                        </li>
                        <li onClick="ShowSCategorysMainMobile('sub-androgynous')"><span id="back-menu"></span>
                            <p>VOLTAR</p>
                        </li>
                        <li data-bg-black>
                            <p>ANDROGYNE</p>
                        </li>
                    </ul>
                    <div class="sub-imgs" onClick="PopupMsg('androgeno')">
                        <img src="./media/home/menu-category/AndrogensCategory.jpg" alt="androgyne category img">
                    </div>
                    <div class="sub-texts">
                        <p>FEMININO</p>
                        <p>MASCULINO</p>
                        <p>TODOS</p>
                    </div>
                </div>
            </div>
            <a class="nav-link-5 w-nav-link w--nav-link-open" onClick="ShowSCategorysMainMobile('sub-urban')">URBAN</a>
            <div class="style-sub-category sub-urban subs-category-ref">
                <div class="sub-urban">
                    <ul class="mobile-model-cat">
                        <li data-bg-black>
                            <p>CATEGORIAS</p>
                        </li>
                        <li onClick="ShowSCategorysMainMobile('sub-urban')"><span id="back-menu"></span>
                            <p>VOLTAR</p>
                        </li>
                        <li data-bg-black>
                            <p>URBAN</p>
                        </li>
                    </ul>
                    <div class="sub-imgs" onClick="PopupMsg('urbano')">
                        <img src="./media/home/menu-category/UrbanCategory.jpg" alt="urban category img">
                    </div>
                    <div class="sub-texts">
                        <p>FEMININO</p>
                        <p>MASCULINO</p>
                        <p>TODOS</p>
                    </div>
                </div>
            </div>
        </div>

        <a href="javascript:void(0)" class="nav-link-5 w-nav-link w--nav-link-open"
            onClick="ShowOrHideSubMenus('course-mobile-category')">CURSOS<span
                class=" icon-navbar-sub mobile-icon"></span></a>
        <div class="style-sub-category subs-category-ref">
        </div>
        <div class="style-sub-category subs-category-ref course-mobile-category">
            <ul class="mobile-model-cat">
                <li onClick="ShowOrHideSubMenus('course-mobile-category', 1)"><span id="back-menu"></span>
                    <p>VOLTAR</p>
                </li>
                <li data-bg-black>
                    <p>CURSOS</p>
                </li>
            </ul>
            <a class="nav-link-5 w-nav-link w--nav-link-open"
                onclick="PopupMsg('curso-passarela', 'curso-passarela',1)">PASSARELA</a>
            <a class="nav-link-5 w-nav-link w--nav-link-open"
                onclick="PopupMsg('curso-modeloFotografica', 'curso-modeloFotografica',1)">FOTOGRAFIA DE MODA</a>
            <a class="nav-link-5 w-nav-link w--nav-link-open"
                onclick="PopupMsg('curso-teatro', 'curso-teatro',1)">TEATRO</a>
            <a class="nav-link-5 w-nav-link w--nav-link-open"
                onclick="PopupMsg('curso-maquiagem', 'curso-maquiagem',1)">MAKE-UP</a>
            <a class="nav-link-5 w-nav-link w--nav-link-open"
                onclick="PopupMsg('workshops', 'workshops',1)">WORKSHOPS</a>
        </div>
        <a href="./ficaligado" class="nav-link-6 w-nav-link w--nav-link-open" onclick="PopupMsg('', '', 1)">FICA
            LIGADO</a>
        <div class="style-sub-category subs-category-ref">
            <a class="nav-link-5 w-nav-link w--nav-link-open">EM BREVE</a>
        </div>
        <a href="javascript:void(0)" class="nav-link-6 w-nav-link w--nav-link-open"
            onClick="showOrHideContent('events-mobile-category')">EVENTOS<span
                class="icon-navbar-sub mobile-icon"></span></a>
        <div class="style-sub-category subs-category-ref events-mobile-category">
            <a class="nav-link-5 w-nav-link w--nav-link-open" onclick="PopupMsg('shows', 'shows',1)">SHOWS</a>
            <a class="nav-link-5 w-nav-link w--nav-link-open" onclick="PopupMsg('desfiles', 'desfiles',1)">DESFILES</a>
            <a class="nav-link-5 w-nav-link w--nav-link-open"
                onclick="PopupMsg('concursos', 'concursos',1)">CONCURSOS</a>
            <a class="nav-link-5 w-nav-link w--nav-link-open" onclick="PopupMsg('audicao', 'audicao',1)">AUDIÇÃO</a>
        </div>
        <a href="javascript:void(0)" class="nav-link-6 w-nav-link w--nav-link-open"
            onClick="ShowOrHideSubMenus('artists-mobile-category')">ARTISTAS<span
                class="icon-navbar-sub mobile-icon"></span></a>
        <div class="style-sub-category subs-category-ref artists-mobile-category">
            <ul class="mobile-model-cat">
                <li data-bg-black>
                    <p>HOME</p>
                </li>
                <li onClick="ShowOrHideSubMenus('artists-mobile-category', 1)"><span id="back-menu"></span>
                    <p>VOLTAR</p>
                </li>
                <li data-bg-black>
                    <p>ARTISTAS</p>
                </li>
            </ul>
            <a class="nav-link-5 w-nav-link w--nav-link-open"
                onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)">ATORES</a>
            <a class="nav-link-5 w-nav-link w--nav-link-open"
                onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)">BANDAS</a>
            <a class="nav-link-5 w-nav-link w--nav-link-open"
                onClick="showOrHideContent('setanejo-categoria')">CANTORES</a>
            <div class="style-sub-category subs-category-ref artists-mobile-category setanejo-categoria">
                <a class="nav-link-5 w-nav-link w--nav-link-open" href="sertanejo"
                    style="background-color: black; color: white !important; border: 1px solid white;">SERTANEJO</a>
                <a href="#" class="nav-link-5 w-nav-link w--nav-link-open"
                    onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)"
                    style="background-color: black; color: white !important; border: 1px solid white;">FUNK</a>
                <a href="#" class="nav-link-5 w-nav-link w--nav-link-open"
                    onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)"
                    style="background-color: black; color: white !important; border: 1px solid white;">GOSPEL</a>
                <a href="#" class="nav-link-5 w-nav-link w--nav-link-open"
                    onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)"
                    style="background-color: black; color: white !important; border: 1px solid white;">INTERNACIONAL</a>
                <a href="#" class="nav-link-5 w-nav-link w--nav-link-open"
                    onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)"
                    style="background-color: black; color: white !important; border: 1px solid white;">MPB</a>
            </div>

            <a class="nav-link-5 w-nav-link w--nav-link-open"
                onClick="showOrHideContent('cosplay-categoria')">COSPLAY</a>
            <div class="style-sub-category subs-category-ref artists-mobile-category cosplay-categoria">
                <a class="nav-link-5 w-nav-link w--nav-link-open" href="sertanejo"
                    style="background-color: black; color: white !important; border: 1px solid white;">LIGA DA
                    JUSTIÇA</a>
                <a href="#" class="nav-link-5 w-nav-link w--nav-link-open"
                    onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)"
                    style="background-color: black; color: white !important; border: 1px solid white;">MARVEL</a>
                <a href="#" class="nav-link-5 w-nav-link w--nav-link-open"
                    onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)"
                    style="background-color: black; color: white !important; border: 1px solid white;">ANIME</a>
            </div>

            <a class="nav-link-5 w-nav-link w--nav-link-open"
                onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)">COVERS</a>
            <a class="nav-link-5 w-nav-link w--nav-link-open"
                onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)">DANÇARINOS</a>
            <a class="nav-link-5 w-nav-link w--nav-link-open"
                onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)">INFLUENCERS</a>
            <a class="nav-link-5 w-nav-link w--nav-link-open"
                onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)">DJS</a>
            <a class="nav-link-5 w-nav-link w--nav-link-open"
                onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)">LOCUTORES</a>
            <a class="nav-link-5 w-nav-link w--nav-link-open"
                onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)">MUSICOS</a>
            <a class="nav-link-5 w-nav-link w--nav-link-open"
                onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)">SOSIAS</a>
            <a class="nav-link-5 w-nav-link w--nav-link-open"
                onclick="PopupMsg('noneArtistas', 'noneArtistas',1,1)">STAND
                UP</a>
        </div>

        <a href="#" class="nav-link-2 w-nav-link w--nav-link-open"
            onclick="PopupMsg('parceiros', 'parceiros',1,1)">PARCEIROS</a>
        <a href="./facaparte" class="nav-link-2 w-nav-link w--nav-link-open">FAÇA PARTE</a>
        <a href="#" class="nav-link-2 w-nav-link w--nav-link-open">CONTATOS</a>
    </nav>
</div>